<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="muaraenimkab.bps.go.id.bps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ActivityMainRoot">
        </activity>
        <activity android:name=".ActivityKontak">
        </activity>
        <activity android:name=".ActivityTentang"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ActivityRootSosial">
        </activity>
        <activity android:name=".ActivityRootEkonomi">
        </activity>
        <activity android:name=".ActivityRootPertanian">
        </activity>
        <activity
            android:name=".ActivityPublikasi"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ActivityBeritaResmi"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".ActivityBerita"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>